// mod-morph: https://zmk.dev/docs/behaviors/mod-morph
//            mods: MOD_LGUI MOD_LSFT MOD_LCTL MOD_LALT
// hold-tap:  https://zmk.dev/docs/behaviors/hold-tap
up_pgup: up_page_up {
    compatible = "zmk,behavior-mod-morph";
    label = "up_page_up";
    #binding-cells = <0>;
    bindings = <&kp UP>, <&kp PGUP>;
    mods = <(MOD_LCTL)>;
};
dn_pgdn: down_page_down {
    compatible = "zmk,behavior-mod-morph";
    label = "down_page_down";
    #binding-cells = <0>;
    bindings = <&kp DOWN>, <&kp PGDN>;
    mods = <(MOD_LCTL)>;
};
left_home: left_home {
    compatible = "zmk,behavior-mod-morph";
    label = "left_home";
    #binding-cells = <0>;
    bindings = <&kp LEFT>, <&kp HOME>;
    mods = <(MOD_LCTL)>;
};
right_end: right_end {
    compatible = "zmk,behavior-mod-morph";
    label = "right_end";
    #binding-cells = <0>;
    bindings = <&kp RIGHT>, <&kp END>;
    mods = <(MOD_LCTL)>;
};
ctrl_cx: ctrl_c_ctrl_x {
    compatible = "zmk,behavior-mod-morph";
    label = "ctrl_c_ctrl_x";
    #binding-cells = <0>;
    bindings = <&kp LG(C)>, <&kp LG(X)>;
    mods = <(MOD_LSFT)>;
};
stht: sticky_hold_tap {
    compatible = "zmk,behavior-hold-tap";
    label = "sticky_hold_tap";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <125>;
    global-quick-tap;
    bindings = <&kp>, <&sk>; // <HOLD> <TAP>
};
mo32: mod_3_and_2 {
    compatible = "zmk,behavior-mod-morph";
    label = "mod_3_and_2";
    #binding-cells = <0>;
    bindings = <&mo 3>, <&mo 2>;
    mods = <(MOD_LCTL)>;
};
arr_bspc: arrow_layer_backspace {
    compatible = "zmk,behavior-mod-morph";
    label = "arrow_layer_backspace";
    #binding-cells = <0>;
    bindings = <&kp BSPC>, <&kp LG(BSPC)>;
    mods = <(MOD_LCTL)>;
};
eng_rus: eng_rus_layout_switcher {
    compatible = "zmk,behavior-mod-morph";
    label = "eng_rus_layout_switcher";
    #binding-cells = <0>;
    bindings = <&kp LG(LC(LS(E)))>, <&kp LG(LC(LS(R)))>;
    mods = <(MOD_LSFT|MOD_LCTL)>;
};
